/* base variables for grid */

/* base font stacks and sizes */
$meta:'';
$open-sans:'';
$arial:'';
$freight: '';
$input-mono:'';
$input-sans:'';

/* breakpoints */
$sm;
$med;
$lg;
$xl;

/* base border radius */

/* base text color */

/* base background color */

